pc/flows/flows.json
[
    {
        "id": "10acdf134f09496b",
        "type": "tab",
        "label": "Pagina",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "979f66af87c3405b",
        "type": "tab",
        "label": "OPC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32475c0d051dcd20",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05a898277f7030d9",
        "type": "websocket-listener",
        "path": "/ws/publishMessage",
        "wholemsg": "false"
    },
    {
        "id": "2cca224ba1e28d70",
        "type": "websocket-listener",
        "z": "10acdf134f09496b",
        "path": "/ws/simple",
        "wholemsg": "false"
    },
    {
        "id": "5c4bb0592350c339",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.5.228:4840/UA/rasp",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "646fa01d53ed7b65",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.1.178:4840/UA/rasp",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "7f96da0591a0b36a",
        "type": "http response",
        "z": "10acdf134f09496b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "b27b7158a6c45e74",
        "type": "http in",
        "z": "10acdf134f09496b",
        "name": "",
        "url": "/simple",
        "method": "get",
        "swaggerDoc": "",
        "x": 201,
        "y": 120,
        "wires": [
            [
                "dacef3f6dd1028a2"
            ]
        ]
    },
    {
        "id": "dacef3f6dd1028a2",
        "type": "template",
        "z": "10acdf134f09496b",
        "name": "Simple Web Page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Controlo da Estufa</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var values = []\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                values = data.split('\\n')\n                line += \"<p>Temperature: \"+values[0]+\" °C</p>\\n\";\n                line += \"<p>Fan: \"+values[1]+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Controlo de Estufa</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"Carregou no botão\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n",
        "x": 398,
        "y": 120,
        "wires": [
            [
                "7f96da0591a0b36a"
            ]
        ]
    },
    {
        "id": "61af9870694ff43a",
        "type": "websocket in",
        "z": "10acdf134f09496b",
        "name": "",
        "server": "2cca224ba1e28d70",
        "client": "",
        "x": 249,
        "y": 200,
        "wires": [
            [
                "97253f0520123187"
            ]
        ]
    },
    {
        "id": "97253f0520123187",
        "type": "debug",
        "z": "10acdf134f09496b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 439,
        "y": 200,
        "wires": []
    },
    {
        "id": "044531eb5b42fb0a",
        "type": "debug",
        "z": "979f66af87c3405b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "04afc9683bcf020d",
        "type": "inject",
        "z": "979f66af87c3405b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "f4207e6fea66d41a",
                "12db42d15fce766a"
            ]
        ]
    },
    {
        "id": "f4207e6fea66d41a",
        "type": "OpcUa-Item",
        "z": "979f66af87c3405b",
        "item": "ns=2;i=4",
        "datatype": "Float",
        "value": "",
        "name": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "3e04ac89f28c9da9"
            ]
        ]
    },
    {
        "id": "3e04ac89f28c9da9",
        "type": "OpcUa-Client",
        "z": "979f66af87c3405b",
        "endpoint": "646fa01d53ed7b65",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "059ca9fca48dcb53"
            ]
        ]
    },
    {
        "id": "b6b463aced53119a",
        "type": "websocket out",
        "z": "979f66af87c3405b",
        "name": "",
        "server": "2cca224ba1e28d70",
        "client": "",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "12db42d15fce766a",
        "type": "OpcUa-Item",
        "z": "979f66af87c3405b",
        "item": "ns=2;i=5",
        "datatype": "Float",
        "value": "",
        "name": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "3e04ac89f28c9da9"
            ]
        ]
    },
    {
        "id": "33d2ed9f95ad75ff",
        "type": "websocket in",
        "z": "979f66af87c3405b",
        "name": "",
        "server": "2cca224ba1e28d70",
        "client": "",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "485d4da5d093608e",
                "fcae8b8d55dde3e8"
            ]
        ]
    },
    {
        "id": "485d4da5d093608e",
        "type": "debug",
        "z": "979f66af87c3405b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "fcae8b8d55dde3e8",
        "type": "OpcUa-Method",
        "z": "979f66af87c3405b",
        "endpoint": "646fa01d53ed7b65",
        "objectId": "ns=2;i=3",
        "methodId": "ns=2;i=6",
        "name": "",
        "inputArguments": [],
        "outputArguments": [],
        "arg0name": "",
        "arg0type": "",
        "arg0typeid": "",
        "arg0value": "",
        "arg1name": "",
        "arg1type": "",
        "arg1typeid": "",
        "arg1value": "",
        "arg2name": "",
        "arg2type": "",
        "arg2typeid": "",
        "arg2value": "",
        "out0name": "",
        "out0type": "",
        "out0typeid": "",
        "out0value": "",
        "x": 490,
        "y": 580,
        "wires": [
            [
                "16eb493c8a99c290"
            ]
        ]
    },
    {
        "id": "16eb493c8a99c290",
        "type": "OpcUa-Client",
        "z": "979f66af87c3405b",
        "endpoint": "646fa01d53ed7b65",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 720,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "059ca9fca48dcb53",
        "type": "join",
        "z": "979f66af87c3405b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "b6b463aced53119a",
                "044531eb5b42fb0a"
            ]
        ]
    },
    {
        "id": "2276ec17a10baee2",
        "type": "websocket out",
        "z": "32475c0d051dcd20",
        "name": "",
        "server": "2cca224ba1e28d70",
        "client": "",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "bbbe68066bfac31d",
        "type": "random",
        "z": "32475c0d051dcd20",
        "name": "Criador de Temperatura ",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "cbd56f6e0a4cf068"
            ]
        ]
    },
    {
        "id": "f84ea87afa064801",
        "type": "inject",
        "z": "32475c0d051dcd20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "cbd56f6e0a4cf068",
        "type": "function",
        "z": "32475c0d051dcd20",
        "name": "function 4",
        "func": "flow.set('random1',msg.payload);\n//msg.payload = {'random1': msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "31968c365b82b49b"
            ]
        ]
    },
    {
        "id": "31968c365b82b49b",
        "type": "random",
        "z": "32475c0d051dcd20",
        "name": "Criador de Humidade",
        "low": "30",
        "high": "60",
        "inte": "true",
        "property": "payload",
        "x": 940,
        "y": 340,
        "wires": [
            [
                "481790b90fe4a676"
            ]
        ]
    },
    {
        "id": "481790b90fe4a676",
        "type": "function",
        "z": "32475c0d051dcd20",
        "name": "function 5",
        "func": "flow.set('random2',msg.payload);\nmsg.payload = {'random2': msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "6de234658a1a321b"
            ]
        ]
    },
    {
        "id": "6de234658a1a321b",
        "type": "function",
        "z": "32475c0d051dcd20",
        "name": "function 6",
        "func": "msg.payload={'Temperatura':flow.get('random1'), 'Humidade':flow.get('random2')};\nmsg.headers={\"Content-type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "93f05a4bd09f5d3a"
            ]
        ]
    },
    {
        "id": "29b6b9d69c9f9656",
        "type": "debug",
        "z": "32475c0d051dcd20",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "93f05a4bd09f5d3a",
        "type": "json",
        "z": "32475c0d051dcd20",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 650,
        "y": 520,
        "wires": [
            [
                "29b6b9d69c9f9656"
            ]
        ]
    },
    {
        "id": "c4c44ed0521b59e7",
        "type": "function",
        "z": "32475c0d051dcd20",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    }
]